h3 Skills
table.u-full-width
  thead
    tr
      th Program Languages
      th Level
  tbody
  each skills in contents['skills.json'].metadata     
    tr
      td= skills.pl
      td= skills.level
    
table.u-full-width
  thead
  thead
    tr
      th Frameworks
      th Level
  tbody
  each skills in contents['skills2.json'].metadata     
    tr
      td= skills.fw
      td= skills.level
